# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
.env

# Dự liệu (CỰC KỲ QUAN TRỌNG: Không đẩy 100GB lên GitHub)
data/
OpenWorld/
*.npz
*.h5
*.tar.gz

# Kết quả huấn luyện và dự đoán
predictions/
job_result.json
*.weights.h5
model_weights.weights.h5
*.bak
*.log
config_backup.json

# IDEs
.vscode/
.idea/

# OS rác
.DS_Store
Thumbs.db
